div{
    background-color: aquamarine;
    font-size: 15px;
}
div:hover{
    background-color: red;
}
.box{
    width: 150px;
    height: 150px;
    margin: 5px;
}
#item, p{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div p{
    background-color: yellow;
    color: blue;
}
span{
    background-color: red;
}