*{
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 0px;
padding: 0px;
}
h1, a{
    color: black;
}
header{
margin-top: 20px;
background-color: #afd1af;
height: 55px;
}
.nav{
background-color: #67be65;
height: 40px;
}
.footer{
background-color: #afd1af;
height: 35px;
clear: both;
}
.main{
    display: block;
}
#sidebar, #aside {
background-color: #5a92d8;
    height: 340px;
    width: 22%;
   float: left;
}
#content {
    background-color: #96b4da;
    height: 340px;
    width: 56%;
    float: left;
}
.sidebar__list, .aside__list{
    list-style-type: none; 
    text-decoration: underline;
    margin-top: 20px;
    text-align: center;
}