li {
    list-style-type: none; 
    text-indent: -1em; 
   }
   li::before {
    content: '\25A0'; 
    padding-right: 5px; 
   }
ul li:nth-child(1) {
    font-family: 'Space Grotesk', serif;
    color: #e81a60;
    font-weight: bold;
}
ul li:nth-child(5) {
    color: #4caf50;
    font-family: 'Comic Neue', cursive;
}
.footer {
    max-width: 100px;
    height: 100px;
    margin: 0 auto;
  }