a{
    margin-bottom: 20px;
}
.parent{
    background-color: gray;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.text{
    background-color: white;
    width: 350px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
border: 2px solid  red;
border-radius: 5px;
text-align: center;
}
.text__1{
    position: relative;
    border-bottom: 2px solid gray;
}