ul{
    width: 600px;
}
li{
    display: inline-block; 
    width: 170px;
    height: 42px;
    margin: 0 5px 5px 0;
    border: 1px solid #cbcbcb;
    padding: 3px;
    background-color: #eeeeee;
}
span{
    position: relative;
    top:25%; left:50%;
}
ul li:nth-child(3), ul li:nth-child(7) {
    background-color: #ccffaa;
}
.footer {
    max-width: 100px;
    height: 100px;
    margin: 0 auto;
  }